# Source
src/
tsconfig.json
eslint.config.mjs
.prettierrc
vitest.config.ts

# Dev/IDE
.vscode/
.env
.env.example.*
.gitignore
.nvmrc
.node-version
.npmrc
.git/

# Tests
src/__tests__/
dist/__tests__/

# OS
.DS_Store
Thumbs.db

# Misc
*.log
coverage/
